[credential]
	helper = store
[user]
	email = root@picoctf
	name = root
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "https://github.com/"]
	insteadOf = git@github.com:
